@use 'sass:math';
@use 'sass:color';
@use '../common/config' as *;

.hero {
  text-align: center;
  padding: 3rem 0;
  background: linear-gradient(to right, color.adjust($COLOR_PRIMARY, $lightness: 20%), color.adjust($COLOR_SECONDARY, $lightness: 20%));
  color: white;
  border-radius: 8px;
  margin-bottom: 3rem;

  h2 {
    color: white !important;
    border-bottom: none !important;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
