---
title: 'お問い合わせ'
description: 'お問い合わせフォーム'
layout: 'DefaultLayout'
form:
  endpoint: 'https://formspree.io/f/XXXXXXXX'
  mode: 'fetch'
---

<section class="contact">
  <h2>お問い合わせ</h2>
  <p>下記フォームよりお気軽にお問い合わせください。</p>
  <%- include('../partials/ContactForm.ejs') %>
</section>
