<section class="testimonials">
  <h2>お客様の声</h2>
  <% testimonials.forEach((t) => { %>
  <blockquote>
    <p><%= t.comment %></p>
    <footer>
      —
      <%= t.name %>
      (
      <%= t.company %>
      )
    </footer>
  </blockquote>
  <% }); %>
</section>
